{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="/static/style.css">

<body class="body2">
    <main>
        <h2>About Us</h2>
        <p>Information About Our Team</p>
        
        <!-- Member 1 -->
        <div>
            <img src="/static/image/tia.jpg" alt="Tia Hasna Humayra" class="member-img">
            <h3>Tia Hasna Humayra</h3>
            <p><strong>NIM:</strong> 1101213479</p>
            <p><strong>Email:</strong> tiahhasna305@gmail.com</p>
            <p><strong>Instagram:</strong> @tiasnaa_</p>
        </div>

        <br><br>

        <!-- Member 2 -->
        <div>
            <img src="/static/image/santana.jpg" alt="Santana Kiana Winarta" class="member-img">
            <h3>Santana Kiana Winarta</h3>
            <p><strong>NIM:</strong> 1101203466</p>
            <p><strong>Email:</strong> antanakiana0402@gmail.com</p>
            <p><strong>Instagram:</strong> @hi_sanssss04</p>
        </div>
    </main>
</body>

{% endblock %}
