<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAS App</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                </ul>
                <ul class="navbar-nav">
                    {% if session.get('user') %}
                        <li class="nav-item"><a class="nav-link" href="#">Welcome,&nbsp;&nbsp; {{ session['user']['username'] }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">|&nbsp;&nbsp;&nbsp;&nbsp;Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">|&nbsp;&nbsp;&nbsp;&nbsp;Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">|&nbsp;&nbsp;&nbsp;&nbsp;Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
